variables:
  MARIADB_ROOT_PASSWORD: $MARIADB_ROOT_PASSWORD
  MARIADB_DATABASE: $MARIADB_DATABASE
  MARIADB_USER: $MARIADB_USER
  MARIADB_PASSWORD: $MARIADB_PASSWORD

stages:
  - build
  - test

build:
  stage: build
  image: docker:27.1.2-cli-alpine3.20
  script:
    - docker-compose build
  only:
    - develop

test:
  stage: test
  image: docker:27.1.2-cli-alpine3.20
  needs:
    - build
  script:
    - docker-compose up -d
    - docker-compose exec jii2-web composer install --no-interaction --prefer-dist
    - docker-compose exec jii2-web php yii migrate --interactive=0
    - docker-compose exec jii2-web vendor/bin/codecept run --coverage
    - docker-compose down
  only:
    - develop
