variables:
  MARIADB_ROOT_PASSWORD: $MARIADB_ROOT_PASSWORD
  MARIADB_DATABASE: $MARIADB_DATABASE
  MARIADB_USER: $MARIADB_USER
  MARIADB_PASSWORD: $MARIADB_PASSWORD

stages:
  - build
  - test

build:
  stage: build
  image: docker:27.1.2-cli-alpine3.20
  script:
    - cd ./docker
    - docker-compose build
  only:
    - develop

test:
  stage: test
  image: docker:27.1.2-cli-alpine3.20
  needs:
    - build
  script:
    - cd ./docker
    - docker-compose up -d
    - docker-compose exec web vendor/bin/codecept run
#    - docker-compose down
  only:
    - develop
