variables:
  VERSION: 1.0.${CI_PIPELINE_ID}

stages:
  - build
  - test

build:
  stage: build
  image: docker:27.1.2-cli-alpine3.20
  script:
    - echo "Building the application"
    - docker-compose up --build -d
  only:
    - develop

test:
  stage: test
  image: docker:27.1.2-cli-alpine3.20
  script:
    - echo "Running tests"
    - docker exec -it jii2-web ./vendor/bin/codecept run
  only:
    - develop
  when: on_success
