version: '3.8'

services:

  db:
    image: mariadb:10.4
    container_name: jii2-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MARIADB_DATABASE}
      MYSQL_USER: ${MARIADB_USER}
      MYSQL_PASSWORD: ${MARIADB_PASSWORD}
    ports:
      - "3306:3306"

  web:
    build: .
    container_name: jii2-web
    ports:
      - "8880:80"
    depends_on:
      - db
