services:

  db:
    #image: mariadb:10.4
    #container_name: jii2-db
    build: ./mariadb
    image: jii2-db
    container_name: jii2-db
    environment:
      MARIADB_DATABASE: ${MARIADB_DATABASE}
      MARIADB_USER: ${MARIADB_USER}
      MARIADB_PASSWORD: ${MARIADB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    networks:
      - jii2-network

  web:
    build: ./php-apache
    image: jii2-web
    container_name: jii2-web
    ports:
      - "8880:80"
    networks:
      - jii2-network
    depends_on:
      - db

networks:
  jii2-network:
    driver: bridge
